$color_dark: #3d3c39;
$color_dark-gray: #979797;
$color_dark-gold: #a76e00;
$color_light-gold: #da9d27;
$color_white: #fdfdfd;
$color_light-gray: #f8f1e9;
$color_purple: #3e1063;
$color_light-green: #04867e;
$color_dark-green: #16392d;

$font-weight_medium: 500;
$font-weight_regular: 400;
$font-weight_bolt: 700;

$MonAlt: "Montserrat Alternates", serif;
$Mont: "Montserrat", serif;
